.formWrap {
    display: flex;
    flex-direction: column;
}

.formField {
    display: flex;
    flex-direction: column;;
    margin-bottom: 1rem;
}

.formField input {
    width: 100%;
}

.formField_Title {
    display: flex;
    justify-content: start;
}

.formField_Alt {

}

.radioButtons_Item {
    display: flex;
    flex-direction: row;
}

.radioButtons_Item input {
    color: #7A5CFA;
}




.submitButtons_Wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitButtons_Wrap button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 10px;

    width: 80px;
    height: 20px;

    /* W Background */
    background: #FFFFFF;

    /* Keatext purple */
    border: 1px solid #7A5CFA;
    border-radius: 4px;
    margin-top: 1rem;

}

.sumbitButton_item button{
    background: #7A5CFA;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7A5CFA;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}